* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.navbar {
    display: flex;
    background-color: cadetblue;
    color: white;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: pointer;

}

#bugerMenu {
    display: none;
}

.navbar a {
    color: white;

    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 10px;
    position: relative;
    width: max-content;
}

ul li::before {
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #ff0, rgb(169, 169, 3));

    border-radius: 7px;

    position: absolute;
    left: 0;
    bottom: 0;

    transition: .2s;
}

ul li:hover::before {
    width: 100%;
}



@media (max-width: 800px) {

    .navbar {
        padding: 1rem;
    }

    .navbar ul li:not(#bugerMenu) {
        display: none;
    }   

    #bugerMenu {
        display: block;
        font-size: 1.5rem;
    }
}